.root {
    main-color: #ffebf8;       /* Create a looked-up color called "main-color" within root. */
    -fx-background-color: main-color;
}

.text-field {
    -fx-background-color: #ffd9f1;
    -fx-font: 20px "Arial";
    -fx-text-fill: #aa5588
}

.button {
    -fx-background-color: #ffb5e4;
    -fx-font: italic bold 16px "Arial";
}

.button:hover {
    -fx-background-color: #ff8ad4;
    -fx-font-size: 18px;
}

.button:pressed {
    -fx-background-color: #ff4dbd;
    -fx-font-size: 20px;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #ff9cb4;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

